@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&display=swap");

:root {
  /* Primitive Tokens */
  --color-black: black;
  --color-white: white;
  --color-yellow: hsl(56, 100%, 50%);
  --color-y-hover: hsl(44, 100%, 50%);
  --ff-sans: "DM sans", sans-serif;

  /* Sementic Tokens */
  --color-white: var(--color-white);
  --color-black: var(--color-black);
  --color-y: var( --color-yellow);
  --color-yh: var(--color-y-hover);
}
