.movie-category {
  width: 100%;
  box-sizing: border-box;

}

.carousel {
  position: relative;
  overflow: hidden;
  padding: 1rem 0; /* 16px 0 */
}

.carousel__track {
  display: flex;
  gap: 1rem; /* 16px */
  overflow-x: auto;
  scroll-behavior: smooth;

  scrollbar-width: none; /* Firefox */
  margin-top: 5rem;
}
.carousel__track::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: white;
  border: none;
  color: var(--color-background);
  font-size: 2rem; /* 32px */
  cursor: pointer;

  width: 3rem; /* 48px */
  height: 3rem; /* 48px */
  border-radius: 50%; /* rond parfait */
  display: flex; /* centre l’icône */
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  padding: 0; /* enlève le padding qui déforme */
}
.carousel__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel__button--left {
  left: 0.5rem; /* 8px */
}
.carousel__button--right {
  right: 0.5rem; /* 8px */
}