<div class="form-container">
    <h1 class="form-container__title">{{head}}</h1>
    <form class="form">

            <input class="form__input" type="text"  name="name" id="name" placeholder="Nom du film">
            <input class="form__input" type="text" name="director" id="director" placeholder="Nom du réalisateur">
            <input class="form__input" type="number"  name="year" id="year" placeholder="Année de sortie">    
            <input class="form__input" type="text"  name="lengh" id="lengh" placeholder="Durée du film">
            <input class="form__input" type="text"  name="description" id="description" placeholder="Description">
            <input class="form__input" type="text"  name="category" id="category" placeholder="Catégorie">
            <input class="form__input" type="text" name="image" id="image" placeholder="Nom du fichier de l'affiche">
       
            <input class="form__input" type="text" name="trailer" id="trailer" placeholder="URL de la bande annonce">
       
            <input class="form__input" type="text" name="min_age" id="min_age" placeholder="Age minimum">
        <input onclick="{{handler}}" class="form__button" type="button" value="Ajouter">
    </form>
</div>