

.category {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3C3C3C;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 1rem; /* Uniformisez le padding */
  width: 100%; /* Assurez-vous que la largeur occupe tout l'espace */
  box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}

.category_title {


  font-family: Arial, Helvetica, sans-serif;
  background-color: #3C3C3C;
  color: #ffffff;
  font-size: 1.5rem;
  margin-right: 1rem;

}

.category_select {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: var(--color-gray-dark);
  border: 3px solid #54cc0e;
}
.category_select :hover{

  border: 3px solid #bd2c2c;
}

.no-movies-message {
  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.category-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;

}

.category-section h2 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: left;
  /* Aligne le titre à gauche */
  padding-left: 1rem;
}

