
.movie-categories {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 30px 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: grey;
  transition: transform 0.3s ease;

}

.movie-categories__titre {
  padding-left: 10px;
  margin-bottom: 25px;
  text-align: left;
  font-size: 2.2rem;
  font-weight: 700;
  color: #ffffff;
  border-left: 4px solid #d9ff00; 
}

.movie-categories__movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}