.movie-categories {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    padding: 2rem;
    width: 90%; /* Ajuste la largeur */
    max-width: 1200px; /* Limite la largeur maximale */
    background-color: black; /* Fond sombre */
    border-radius: 1rem; /* Coins arrondis */
    box-shadow: 0 4px 8px rgb(255, 196, 0, 5); /* Ombre subtile */
    transition: transform 0.3s ease;
}

.movie-categories__titre {
    padding-left: 1rem;
    margin-bottom: 1.5rem;
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    color: #d9ff00; /* Couleur vive pour le titre */
    border-left: 4px solid #d9ff00; /* Barre colorée */
}

.movie-categories__movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem; /* Espacement entre les films */
}

body{
    background-color: black;
}