<div class="category" >
    Categorie :
    <select onchange="C.filterByCategory(this.value)">
      <option value="">Toutes les catégories</option>
      <option value="1">Action</option>
      <option value="2">Comédie</option>
      <option value="3">Drame</option>
      <option value="4">Science-fiction</option>
      <option value="5">Animation</option>
      <option value="6">Thriller</option>
      <option value="7">Horreur</option>
      <option value="8">Aventure</option>
      <option value="9">Fantaisie</option>
      <option value="10">Documentaire</option>
    </select>
</div>