.movie-categories {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 75rem;
    background-color: var(--color-black);
    border-radius: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-categories:hover {
    transform: scale(1.05);
    box-shadow: 0 0.25rem 0.5rem var(--color-yellow);
}

.movie-categories__titre {
    padding-left: 1rem;
    margin-bottom: 1.5rem;
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-yellow);
}

.movie-categories__movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

body {
    background-color: black;
}