
.category-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
  overflow: hidden; /* Cache les débordements */
}

.category {
  width: 100%;
  box-sizing: border-box;
}

.carousel {
  position: relative;
  overflow: hidden;
  padding: 1rem 0;
}

.carousel__track {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem;
  scrollbar-width: none; /* Firefox */
}
.carousel__track::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: white;
  border: none;
  color: var(--color-background);
  font-size: 2rem;
  cursor: pointer;
  width: 3rem;      /* même largeur */
  height: 3rem;     /* même hauteur */
  border-radius: 50%; /* rond parfait */
  display: flex;    /* centre l’icône */
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  padding: 0; /* enlève le padding qui déforme */
}
.carousel__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel__button--left {
  left: 0.5rem;
}
.carousel__button--right {
  right: 0.5rem;
}


.category-card{

  width: 50rem;
}