<div class="moviedetail">
  <div class="moviedetail__content">
    <h1 class="moviedetail__title">{{name}}</h1>

    
    <div class="moviedetail__info">
      <div class="moviedetail__poster">
        <img src="https://mmi.unilim.fr/~perceau1/SAE2.03-Perceau/SAE2.03-Perceau-rts/server/images/{{image}}" alt="Affiche film"
          class="moviedetail__poster-img" />
      </div>
      <div class="moviedetail__meta">
        <div class="moviedetail__category"><strong>{{id_category}}</strong></div>
        <div class="moviedetail__director">{{director}}</div>
        <span class="moviedetail__year">{{year}}</span>
        <span class="moviedetail__minage">PEGI : {{min_age}}</span>
      
      </div>
    </div>
      <p class="moviedetail__description">{{description}}</p>

    <div class="moviedetail__trailer">
      <iframe class="moviedetail__trailer-iframe" src="{{trailer}}" title="trailer" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</div>