<nav class="navbar">
  <ul class="navbar__list">
    <li class="navbar__accueil" onclick="C.Accueil()"><img src="../server/images/rtslog.svg" alt=""></li>
    <li class="navbar__item" onclick="C.readFavoris()">Favoris</li>
  </ul>
    <div class="navbar__profile">
      <select id="profile-select" class="navbar__select" onchange="{{handler}}">
        <option value="" disabled selected>Profils</option>
        <div class="navbar__select-profil"></div>{{profile}}
      </select>
      
      <img
        id="profile-image"
        class="navbar__image"
        src="https://mmi.unilim.fr/~perceau1/SAE2.03-Perceau/SAE2.03-Perceau-rts/server/images/default.avif"
        alt="Photo de profil"
      />
  </div>
</nav> 