

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem; /* Espacement entre les éléments */
    background-color: #3C3C3C;
    padding: 1rem; /* Uniformisez le padding */
    font-family: Arial, Helvetica, sans-serif;
    width: 100%; /* Assurez-vous que la largeur occupe tout l'espace */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}


  .movie-card {
    position: relative;
    width: 16.875rem; /* Ajustez selon vos besoins */
    height: 25.938; /* Ajustez selon vos besoins */
    overflow: hidden;
border-radius: 2rem;
    cursor: pointer;
}

.movie-card_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.movie-card_title {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: 0.3s ease-in-out;
    z-index: 1;
}

.movie-card:hover .movie-card_img {
    filter: brightness(50%);
}

.movie-card:hover .movie-card_title {
    opacity: 1;
    transform: translate(-50%, -50%);
}

div {
    display: flex;
    gap: 2rem;
}