<div class="movie-card" onclick="{{handler}}">
        <img class="movie-card_img" src="https://mmi.unilim.fr/~perceau1/SAE2.03-Perceau/server/images/{{image}}"
            alt="img film">
        <h1 class="movie-card_title">{{titre}}</h1>


        <button class="{{classButton}}" onclick="event.stopPropagation(); {{handlerButton}}" aria-label="Ajouter aux favoris">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="card__favoris-icon"
            width="24"
            height="24">
            <path d="{{iconPath}}"/>
          </svg>
        </button>
</div>
