.movie-une {
  display: flex ;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-color: black;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}
.movie-une__container {
  display: flex ;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-color: black; 
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

.movie-une__card {
  background-color: black;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-une__card::before {
  content: '';
  position: absolute;
  top: -30%;
  left: -30%;
  width: 160%;
  height: 160%;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.03) 0%, transparent 70%);
  z-index: 0;
  pointer-events: none;
  transform: rotate(15deg);
}

.movie-une__card:hover {
  transform: scale(1.05);
  box-shadow: 0 0.25rem 0.5rem rgba(255, 196, 0, 0.5);
}

.movie-une__card img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

.movie-une__card-titre{
  font-size: 1.5rem;
  font-weight: bold;
  color:var(--color-y);
  text-align: center;
  margin-top: 1rem;
}

.movie-une__card__nom {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  color: var(--color-y);
  z-index: 1;
}

.movie-une__card__description {
  font-size: 1rem;
  color: var(--color-white);
  text-align: center;
  line-height: 1.5;
}

.movie-une__title{
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-yh);
  text-align: center;
  margin-top: 1.5rem;
}



