<div class="addProfile">
    <div class="addProfile-content">
        <h1 class="addProfile-content__title">Ajouter un film</h1>
        <form class="addProfile-content__form">

            <input required class="addProfile-content__form-group" type="text" name="name"
                placeholder="Nom de l'utilisateur">


            <input required class="addProfile-content__form-group" type="text" name="image"
                placeholder="Nom du fichier de l'affiche">

            <input required class="addProfile-content__form-group" type="date" name="datenaissance"
                placeholder="Age minimum">
            <input onclick="{{handler}}" class="addProfile-content__form-button" type="button" value="Ajouter"
                name="todo">
        </form>
    </div>
</div>