<footer class="footer">
  <div class="footer__links">
    <a href="#">Télécharger l'app Play RTS sur smartphone</a>
    <a href="#">S'abonner à nos newsletters</a>
    <a href="#">Aide</a>
    <a href="#">Contact</a>
    <a href="#">Audio et podcast</a>
    <a href="#">Charte de confidentialité</a>
    <a href="#">Gérer les paramètres relatifs aux cookies</a>
  </div>
  <div class="footer__logos">
    <span>SRG SSR</span>
    <a href="#">SRF</a>
    <a href="#">RSI</a>
    <a href="#">RTR</a>
    <a href="#">SWI</a>
    <a href="#">Play Suisse</a>
  </div>
  <div class="footer__copyright">
    RTS Radio Télévision Suisse, succursale de la Société suisse de radiodiffusion et télévision
  </div>
</footer>